# Versions from package.json
export PYENV_VERSION="2.3.27"

# Include poetry
export PATH="$HOME/.poetry/bin:$PATH"

case "$(uname -s)" in
    Linux*)
        export PATH=$PATH:/home/linuxbrew/.linuxbrew/bin
        export PYENV_VERSION=$PYENV_VERSION-venv
    ;;
    Darwin*)

        export PATH=$PATH:$(pwd)/bin:/usr/local/bin:/usr/bin:/bin

        # Setup a pyenv virtual environment with the Python we need
        layout pyenv $PYENV_VERSION
    ;;
esac